<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0">
  <mirrors>
    <mirror>
      <id>nexus-http</id>
      <name>Nexus (HTTP allowed)</name>
      <url>http://10.199.11.222:8081/repository/maven-public/</url>
      <mirrorOf>external:*,!nexus-http</mirrorOf>
      <blocked>false</blocked>
    </mirror>
  </mirrors>
</settings>
